Frontend/node_modules
Frontend/build
Frontend/.env
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*

Backend/target
Backend/.mvn/
Backend/.gradle/
Backend/.idea/
Backend/.project
Backend/.classpath
Backend/*.iml
Backend/.env
Backend/application.properties
Backend/application.yml
Backend/*.log
